* {
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window > box {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 6px;
    background-color: rgba(40, 40, 40, 1);
}

window#waybar {
    /*background-color: rgba(56, 60, 74, 1);*/
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    min-width:22px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(21, 132, 112, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 6px;
}

#workspaces button.focused {
    background: rgba(21, 132, 112, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 6px;
}

#workspaces button.urgent {
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #eb4d4b;
}

#workspaces button.persistent {
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: transparent;
    color: #666468;
}

#custom-wlogout,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#language,
#keyboard-state,
#idle_inhibitor {
    background: rgba(21, 132, 112, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0px;
    padding: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-wlogout {
    padding: 4px 4px;
    min-width: 16px;
    border-radius: 6px;
}

#clock {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    padding: 4px 8px;
    margin: 3px;
    min-width: 16px;
    border-radius: 6px;
}

#cpu {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#memory {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#disk {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#network {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#network.disconnected {
    background: rgba(215, 153, 33, 0.7);
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#pulseaudio {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#pulseaudio.muted {
    background: rgba(215, 153, 33, 0.7);
    color: rgba(255, 255, 255, 0.7);
    color: #2a5c45;
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#temperature {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#temperature.critical {
    background: rgba(215, 153, 33, 0.7);
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#idle_inhibitor {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#idle_inhibitor.activated {
    background: rgba(120 , 120, 120, 1);
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#language {
    padding: 4px 8px;
    min-width: 16px;
    border-radius: 6px;
}

#keyboard-state {
    padding: 4px 8px;
    margin: 3px;
    min-width: 16px;
    border-radius: 6px;
}

#keyboard-state > label {
    padding: 4px 8px;
    margin: 3px;
    min-width: 16px;
    border-radius: 6px;
}

#keyboard-state > label.locked {
    padding: 4px 8px;
    margin: 3px;
    min-width: 16px;
    border-radius: 6px;
}
